[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=SciCalculator
Icon=harbour-scientific-calculator
Exec=harbour-scientific-calculator

